/*------ Typography Style Start ------*/

body {
  color: $paragraph;
  line-height: 1.7;
  font-size: $font-size-base;
  font-family: $font-family-base;
}
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v15-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v15-latin_cyrillic-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin_cyrillic-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v15-latin_cyrillic-300.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v15-latin_cyrillic-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v15-latin_cyrillic-300.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat-v15-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v15-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}

a {
  transition: 0.4s;
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $black-soft;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  line-height: 1.5;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

b,
strong {
  font-weight: 700;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  transition: 0.4s;
}

.btn,
button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  box-shadow: none;
  transition: 0.4s;
  background-color: transparent;
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}
select {
  &:focus {
    outline: none;
  }
}
.form-control {
  &:focus {
    border-color: $theme-color;
    box-shadow: none;
  }
}

// placeholder text style
::placeholder {
  color: #999;
  font-size: 13px;
  opacity: 1;
}
