.header {
  user-select: none;
  padding: 4px 0;
  z-index: 1000;
  transition: 0.2s linear;
  position: fixed;
  top: 0;
  left: 50%;
  left: 0;
  right: 0;
  width: 100%;

  &__main {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  &__contact {
    font-size: 16px;
    .header__phone {
      color: rgb(255, 255, 255);
      font-weight: 400;
      font-size: 20px;
      transition: 0.2s ease-in;

      &:hover {
        color: rgb(190, 190, 190);
      }
    }

    .header__login {
      position: relative;
      width: 200px;
      height: 70px;
      text-align: center;
      color: #fff;
      transition: 0.3s;
      border: 3px solid #6a7f94;
      border-radius: 6px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      padding: 8px 20px;

      &:before {
        overflow: hidden;
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 102%;
        height: 105%;
        background: #6a7f94;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        border-radius: 2px;
      }

      &:hover {
        color: white;
        box-shadow: none;

        &:before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  /* float menu */
  &__nav {
    ul {
      list-style: none;
      text-transform: uppercase;
      font-weight: 400;
    }

    a {
      position: relative;
      text-decoration: none;
      display: block;
      color: rgb(255, 255, 255);
    }

    .topmenu > li {
      display: inline-block;
    }

    .topmenu > li > a {
      position: relative;
      padding: 30px 10px;
      font-size: 16px;
      line-height: 1;

      &:before {
        opacity: 0;
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -1px;
        border-color: #fff;
        border: 10px solid transparent;
        border-bottom: 12px solid white;
      }
    }

    .topmenu li.topmenu__link:hover a:before {
      opacity: 1;
    }

    .submenu {
      position: absolute;
      width: 100%;
      z-index: 4;
      left: 0;
      top: 90%;
      padding: 10px 1% 20px 10%;
      margin-top: 5px;
      background: white;
      box-sizing: border-box;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
      box-shadow: 0px 11px 30px 1px rgba(0, 0, 0, 0.45);
      border-bottom: 2px solid #8080803f;

      a {
        position: relative;
        color: #000;
      }
    }

    .topmenu > li:hover .submenu {
      visibility: visible;
      opacity: 1;
    }

    .submenu li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 16px 0 8px;
    }

    .submenu a {
      text-align: left;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0 0 0 8px;
      transition: 0.1 linear;

      span {
        font-size: 12px;
        word-wrap: none;
      }

      &::after {
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -3px;
        background-color: #000;
        width: 0;
        transition: 0.3s linear;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    .submenu img {
      width: 46px;
    }
  }

  /*----------------------------------------------------*/
}

.burgerMenu {
  display: none;
  position: relative;
  transition: 0.5s;

  &__button {
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 30;
    width: 40px;
    height: 40px;
    transform: translate(-50%);
    transition: 0.5s;

    &:hover .burgerMenu__lines {
      filter: brightness(0.7);
    }
  }

  &__lines,
  &__lines::before,
  &__lines::after {
    display: block;
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    transition: 0.5s;
  }

  &__lines {
    right: 50%;
    transform: translate(-50%, -50%);
    transition: linear 0.1s;
    width: 20px;

    &::before {
      content: "";
      top: -12px;
      transition: linear 0.3s;
    }

    &::after {
      content: "";
      transition: linear 0.3s;
      top: 12px;
    }
  }

  &__active &__lines,
  &__active &__button {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
      transition: linear 0.3s;
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
      transition: linear 0.3s;
    }
  }

  &__nav {
    text-align: center;
    position: fixed;
    overflow-y: auto;
    right: -200%;
    top: 0;
    padding-top: 140px;
    z-index: 10;
    display: flex;
    flex-flow: column;
    height: 100rem;

    background: linear-gradient(24deg, #324559 0%, #283849 41%);
    transition: linear 0.5s;

    &-btns {
      margin: 40px 0 20px;

      a {
        padding: 5px;
        margin: 5px;
        font-size: 20px;
        border-radius: 10px;
        color: rgb(255, 187, 0);
        border: 1px solid rgb(255, 187, 0);
      }
    }

    &-phone {
      display: flex;
      flex-direction: column;

      a {
        color: #ddd;
        padding: 10px;
      }
    }
  }

  &__active &__nav {
    bottom: 0;
    right: 0;
    width: 100%;
    transition: 0.5s;
  }
}

.burgerMenu__link:hover .burgerMenu__submenu {
  overflow: hidden;
  position: relative;
  left: 0;
  transition: position 0.3s;
}

/*accordion*/
.accTel {
  margin-top: 20px;
  font-size: 24px;
  color: #e2ac00;
  &:hover {
    color: darken($color: #e2ac00, $amount: 3);
  }
}
.accEnter {
  position: absolute;
  left: 20px;
  top: 10px;
  margin-top: 10px;
  display: inline-block;
  color:#fff;
  padding: 5px;
  border: 2px solid #6a7f94;
  border-radius: 8px;
}
.accordion-item {
  font-size: 24px;
  position: relative;
  color: #fff;

}

.accordion-item-head {
  display: block;
  transition: 0.3s;
  cursor: pointer;
  margin: 10px 0;
  color: #fff !important;
  transition: all 5.4s ease-out;

}

.accordion-item-body {
  display: none;

  
  a {
    display: block;
    color: #fff;
    font-size: 16px;
    margin: 8px 0;

  }
  
}
.accordion-item-head.active + .accordion-item-body {
  
  display: block !important;

}

.fixHeader {
  background-color: #2d3e50;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.7);
}




@media (max-width: 1200px) {
  .header {
    .header__nav .topmenu > li > a {
      padding: 30px 6px;
    }

    &__nav .topmenu > li > a {
      font-size: 14px;
    }

    &__logo {
      max-width: 170px;
    }

    &__contact {
      .header__phone {
        font-size: 17px;
      }
    }
    &__nav .submenu {
      padding: 10px 1% 20px 3%;
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__nav {
      display: none;
    }
  }

  .dn {
    display: none;
  }

  .burgerMenu {
    display: block;
  }
}

@media (max-width: 767px) {
  .header__contact {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .header__info {
    display: none;
  }

  .burgerMenu__nav {
    padding-top: 80px;
  }

  .submenu {
    padding: 10px 4% 10px 0;
  }
}
